*{
    padding: 0;
    margin: 0;
}


body{
    padding: 0;
    margin: 0;
    background-color: #FFFC00;
    /* max-height: 100vh; */
}

nav{
    position: relative;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    display: flex;
    gap: 0.3rem;
}

.mid{
    display: flex;
    gap: 2rem;

    
}


.right,.left{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.search{
    border-radius:20px ;
    padding: 0.5rem;
    background-color: white;
}

input[type='search']{
    background:transparent;
    border: none;
}

::placeholder{
    text-transform: capitalize;
    font-weight: bolder;
    color: gray;
}

.grid i{
    background-color: white;
    padding: 0.7rem;
    border-radius: 50%;
}

.ads,.download{
    padding: 0.5rem 0.9rem;
    border-radius: 20px;
    text-transform: capitalize;
    background-color: black;
    color: white;
}

.right h5{
    display: none;
}



@media only screen and (max-width:600px){
    .right h5{
        display: inline;
    }

    .ads,.download,.search-bar,.grid{
        display: none;
    }
    .mid{
        position: fixed;
        bottom: 0;
        background-color: white;
        width: 100%;
        margin-left: -32px;
        justify-content: center;
        padding: 2rem 0;
    }
    .logo i{
        background-color: white;
        padding: 0.7rem;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

    }

}